:root {
  --background-color: #212123; /* Background color */
  --sidebar-color: #1A1A1C;    /* Sidebar background */
  --text-color: #FFFFFF;          /* General text color */
  --highlight-color: #FFFFFF;     /* Button or border color */
  --input-background: #1A1A1C;    /* Search input background */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif; /* Adjust font if needed */
}

/* Basic styling */
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}


/* Default layout for larger screens */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.LeftSidebar {
  width: 256px;
  flex-shrink: 0;
}

.RightSidebar {
  width: 188px; /* Adjust as needed */
  flex-shrink: 0;
}

/* Right Sidebar Collapsed State */
.right-sidebar.collapsed {
  width: 32;
  overflow: hidden; /* Prevents content overflow, but divider stays visible */
}  

.search-bar {
  background-color: var(--sidebar-color);
  color: var(--text-color);
}

.file-drop {
  background-color: var(--sidebar-color);
  color: var(--text-color);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* For tablets (width less than 768px) */
@media (max-width: 768px) {
  .sidebar {
    width: 150px;
  }

  .search-bar,
  .file-drop,
  .pdf-buttons {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
    margin-top: 20px
  }
}

/* For mobile devices (width less than 480px) */
@media (max-width: 480px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
    text-align: left;
  }

  .main-content {
    padding: 10px;
  }

  .search-bar,
  .file-drop,
  .pdf-buttons {
    width: 100%;
    max-width: none;
    padding: 10px;
  }
}

/* Add text layer styles */
.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.85;
}

.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.85;
  z-index: 2; /* Ensure the text layer sits above the canvas */
}

.textLayer div {
  position: absolute;
  transform: scale(1);
  transform-origin: 0 0;
  white-space: pre;
  color: transparent;
  background: none;
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

